#lets2 {
    margin-top: 9%;
    /*font-size: 38ch;*/
    font-size: 17vw;
    line-height: 1;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Impact, sans-serif;
}