
/* Display text */
h1 {
  font-family: 'Space+Grotesk', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 36px;
  /*text-transform: uppercase;*/
}

 .con1{
  padding-top: 10rem;
  padding-bottom: 2.5rem;
  padding-left: 210px;
  padding-right: 210px;
  text-align: left;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.con2{
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 210px;
  padding-right: 210px;
  text-align: left;
  text-align: left;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}

.con3{
  font-family: 'space grotesk';
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 210px;
  padding-right: 210px;
  text-align: left;
  text-align: left;
  font-size: 14px;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
  &:hover{
    flex: 7;
  }
}

.item-1 { 
  background-image: url('../images/P1.png');
  cursor: pointer;
}

.item-2 { 
  background-image: url(../images/P2.png);
  cursor: pointer;
}


.item-3 { 
  background-image: url('../images/P3.png');
  cursor: pointer;
}

.item-4 { 
  background-image: url('../images/P4.png');
  cursor: pointer;
}

.item-5 { 
  background-image: url('../images/P5.png');
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #0074D9;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: left;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #E85E4D;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}